<form action="/tasks/<%= @individual_task['id'] %>" method = 'post'>
  <label for ='name'>Task: </label>
  <input type = 'text' name = 'name'>

  <label for='details'>Details:</label>
  <textarea name='details'></textarea>

  <button>Edit Task</button>
</form>